<!-- Wrapper -->
<div id="wrapper">
  <!-- Intro -->
  <section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
      <h1>흡연자 감지</h1>
      <p>금연 구역 내의 흡연자를 감지 서비스 모델</p>
      <ul class="actions">
        <li><a href="#one" class="button scrolly">Presentation Start</a></li>
      </ul>
    </div>
  </section>

  <!-- One -->
  <section id="one" class="wrapper style2 spotlights">
    <section>
      <a href="#" class="image"
        ><img
          src="/static/home_images/ppt.jpg"
          alt=""
          data-position="center center"
      /></a>
      <div class="content">
        <h2>Presentation</h2>
        <p>Presentation</p>
        <ul class="actions">
          <li><a href="/ppt" class="button">Start</a></li>
        </ul>
      </div>
    </section>
  </section>

  <!-- Two -->
  <section id="two" class="wrapper style2 spotlights">
    <section>
      <a href="#" class="image"
        ><img
          src="/static/home_images/streaming.jpg"
          alt=""
          data-position="center center"
      /></a>
      <div class="content">
        <h2> 로그인 </h2>
        <p> 로그인 </p>
        <ul class="actions">
          <li><a href="/login" class="button">Start</a></li>
        </ul>
      </div>
    </section>
  </section>

  <!-- Three -->
  <section id="three" class="wrapper style2 spotlights">
    <section>
      <a href="#" class="image"
        ><img
          src="/static/home_images/video.jpg"
          alt=""
          data-position="top center"
      /></a>
      <div class="content">
        <h2>Video Detection</h2>
        <p>Video Detection</p>
        <ul class="actions">
          <li><a href="/video" class="button">Start</a></li>
        </ul>
      </div>
    </section>
  </section>
  <!-- Four -->
  <section id="four" class="wrapper style2 spotlights">
    <section>
      <a href="#" class="image"
        ><img
          src="/static/home_images/person_dlib.jpg"
          alt=""
          data-position="center center"
      /></a>
      <div class="content">
        <h2>Identical Detection</h2>
        <p>Identical Detection</p>
        <ul class="actions">
          <li><a href="/recidivist" class="button">Start</a></li>
        </ul>
      </div>
    </section>
  </section>
</div>
